body{
    overflow-x: hidden;
  
  }
  .nav-link
  {
    color:whitesmoke;
    font-size: 18px;
  }
  
  .btn-text{
    color:whitesmoke;
   
  }
  .nav-link:hover
  {
    color:whitesmoke;
  }
  .navbar-brand{
    text-decoration: none;
    color:whitesmoke;
    font-size: 20px;
  }
  .extention
  {
    font-size: 30px;
  }
  .initial
  {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
  }
  h5
  {
  text-align: left;
  }
  
  
  .bg-image
  {
  background-image: url("https://wallpaperaccess.com/full/4219110.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
  background-position:center;
  width: 100%;
  }
  
  .btn:hover
  {
  
  transform:scale(1.1);
  
  }
  a
  {
  text-decoration: none;
  color: black;
  }
  #nav-toggle-button
  {
  color:black;
  }
  .navbar-toggler-icon
  {
  background-image: url("https://previews.123rf.com/images/fokaspokas/fokaspokas1809/fokaspokas180900164/108564673-hamburger-menu-web-icon-white-icon-with-shadow-on-transparent-background.jpg");
  }
  .line{
  width:120px;
  height:4px;
  margin: auto;
  background:#0b71d9;
  }
  .back-image{
    background-image: url("https://www.f-cdn.com/assets/main/en/assets/how-it-works/client-desktop.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  width: 100%;
  }
  
  nav{
    position: fixed;
  }
  .back-image-logo{
    background-image: url("https://cdn6.f-cdn.com/files/download/129623135/how-build-.jpg?image-optimizer=force&format=webply&width=967");
    background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  width: 100%;
  }